Config(
    player: PlayerConfig(
    ),
    fear: FearConfig(
        restore_speed: 2.0,
        shake: 5.0,
    ),
    shapes: [
        Circle( radius: 1.0 ),
        Line( width: 1.0 ),
    ],
)
