Level(
    bpm: 170,
    events: [
        TimedEvent(
            beat: 1,
            event: Light((
                light: (
                    position: (-1, 0),
                    shape: Circle( radius: 1.0 ),
                    // lifetime: 2.0,
                    movement: (
                        key_frames: [
                            (
                                lerp_time: 0,
                                transform: (
                                    scale: 0,
                                ),
                            ),
                            (
                                lerp_time: 1,
                                transform: (
                                    scale: 1,
                                ),
                            ),
                            (
                                lerp_time: 1,
                                transform: (
                                    translation: (2, 0),
                                ),
                            ),
                            (
                                lerp_time: 1,
                                transform: (
                                    scale: 0,
                                ),
                            ),
                        ],
                    ),
                ),
                telegraph: (
                    precede_time: 1.0,
                    duration: 2.0,
                ),
            )),
        ),
    ],
)
